body, html
{
	background-color: #eaeaea;
}

h1, h2
{
	color: #293a7c;
}

input[type=submit], input[type=button]
{
	padding: 2px 8px;
	background-color: #293a7c;
	border-width: 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
	color: #fff;
}

div#page
{
	width: 940px;
	margin: 10px auto;
}

div.main-container
{
	position: relative;
	padding: 30px 40px;
	background-color: #fff;
	background-image: url(MainContainer-Middle.png);
	background-position: left top;
	background-repeat: repeat-y;
}
	div.main-container-top
	{
		position: absolute;
		top: 0;
		left: 0;
		height: 40px;
		width: 940px;
		background-color: transparent;
		background-image: url(MainContainer-Top.png);
		background-position: left top;
		background-repeat: repeat-y;
	}
	div.main-container-bottom
	{
		position: absolute;
		bottom: 0;
		left: 0;
		height: 40px;
		width: 940px;
		background-color: transparent;
		background-image: url(MainContainer-Bottom.png);
		background-position: left top;
		background-repeat: repeat-y;
	}

div#page-header 
{
}
	div#page-header div.login-menu
	{
		position: absolute;
		top: 50px;
		right: 40px;
	}
	div#page-header div.title
	{
		margin-top: 10px;
		line-height: 0;
	}
	div#page-header div.page-menu
	{
		position: absolute;
		bottom: 30px;
		right: 40px;
	}
	div#page-header div.page-menu li a
	{
		display:block;
		text-align:center;
		margin: 0 0 0 10px;		
		font-size: 0.9em;
		text-transform: uppercase;
		text-decoration: none;
	}
	div#page-header div.page-menu li span
	{		
		display:block;
		color: #666;
	}


div#page-main
{
	margin-top: 10px;
}

.input-fields
{
	margin: 20px 0px 20px 0px;
}

.date-fields
{
	height: 40px;
	background-color: #e4e4e4;
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
	margin-bottom: 20px;
}

.date-fields div.editor-label, div.datepicker input
{
	float: left;
	width: 80px;
	margin: 10px 10px 0px 0px;
}

.date-fields div.editor-label
{
	width: 30px;
	margin: 12px 10px 0px 10px;
}

.food-input div.editor-label, .food-input div.editor-field, div.editor-field-number
{
	padding: 0 10px 10px 0;
	float: left;
}

.food-input div.editor-label
{
	margin-top: 2px;
}

.food-input div.editor-field input
{
	margin-right: 20px;
	width: 250px;
}

.food-input div.editor-field-number input
{
	margin-right: 20px;
	width: 60px;
}

.food-input div.submit-field input
{
}

div.splash-photo
{
	margin: -30px -30px 20px -30px;
}

.validation-summary-errors
{
	color: Red;	
}
